.entry {
    justify-content: center;
    padding: 64px;
    box-sizing: border-box;
    width: fit-content;  
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0), inset 0px 0px 50px rgba(0, 0, 0),
    inset 0px 0px 50px rgba(0, 0, 0), inset 0px 0px 64px rgba(0, 0, 0);

    position: relative;
    flex-grow: 1;
    transition: all 0.5s; // Ensure all transitions happen on the entry
  
    gap: 50px;
  
    .bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: var(--background-color);
      height: 2px;
    }

    .point{
        position: absolute;
        top: 70px;
        left:20px;
        width: 15px;
        height: 15px;
        background-color: #ff7e5f;
        border-radius: 50%;
        z-index: 3;
    }
  
    .entry-header {
      position: -webkit-sticky;
      position: sticky;
      top: 80px;
    }
  
    .smokescreen {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0);
      z-index: 1;
      opacity: 0.7;
      transition: opacity 1s ease-in-out;
  
      &.invisible {
        transition: opacity 1s ease-in-out; 
        opacity: 0;
        z-index: -1;
      }
    }
  
    .entry-content {
      transition: transform 0.5s ease-in-out; // Only transform should animate
      z-index: 2;
      transform: translateX(20px); // Starting translate
  
      h3 {
        z-index: 2;
        transition: background 1s; // Ensure background gradient transition
        margin-top: 0;
        font-size: 25px;
        background: linear-gradient(45deg, var(--text-color), var(--text-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 22px;
  
        b {
            background: linear-gradient(45deg, var(--text-color), var(--text-color));
            -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
  
      b {
        font-size: 25px;
      }
  
      .link {
        display: flex;
        width: calc(20 * 32px);
        height: fit-content;
        border: 1px solid;
        border-color: hsla(0, 0%, 100%, .2);
        box-sizing: border-box;
        position: relative;
        background-color: black;
        padding: 20px;
  
        img {
          height: 100%;
        }
  
        .cross {
          position: absolute;
          height: 30px;
          width: 30px;
          opacity: 0.6;
  
          &.tl {
            top: -15px;
            left: -15px;
          }
  
          &.tr {
            top: -15px;
            right: -15px;
          }
  
          &.bl {
            bottom: -15px;
            left: -15px;
          }
  
          &.br {
            bottom: -15px;
            right: -15px;
          }
        }
      }
    }
  
    &.visible {
  
      .entry-content {
        transform: translateX(0); // Animate transform
  
        h3 b {
          background: linear-gradient(90deg, #ff7e5f, #feb47b);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
    }
  }
  