.experience-timeline{
    display:flex;
    flex-direction: column;
    // justify-content: center;    
    width:80%;
    gap:20px;
    .header{
        padding-left:10%;
        padding-right:5%;
        z-index: 3;
        background-color: black;
    }
    .timeline{
        .line{
            width:30px;
            height:100%;
            position: absolute;
            top:0;
            left:30%;
        }
        display:flex;
        flex-direction: column;
        justify-content: center;    
        gap:50px;
        padding-left:10%;
        padding-right:5%;
        .timeline-item{
            display:flex;
            gap:50px;
            .col{
                padding-top:64px;
                box-sizing: border-box;
                width:15%;
            }
        }
        .timeline-marker{
            position: -webkit-sticky;
            position: sticky;
            top:calc(40% - 5px);
            margin:0;
            font-size:19px;
            font-weight: bold;
            color: rgba(255,255,255,0.2);
            text-wrap: nowrap;
            transition: all 0.5s;
        }
        .timeline-marker.focused{
            color: rgba(255,255,255,0.6);
        }
    }
}